<div class="home" id="home">
	<p class="title">Contra Anjos</p>
	<small>A guerra dos justos</small><br><br>

	<div id="adventure">
		<p>
			A maior aventura já escrita sobre as maiores classes dos mundos de RPGs, o conto, a emoção, as guerras e muitas outras aventuras você irá conhecer dentro de um novo mundo, uma nova linguá e até uma nova forma de viver, em Contra Anjos<br>
		</p>

	</div>

</div>

<div class="line">
	<%= image_tag "logo.png", id: "logo" %>
</div>

<div class="classes" id="classes">

	<ul>
		<li onclick="magos();">Magos</li>
		<li onclick="guerreiros();">Guerreiros</li>
		<li onclick="assassinos();">Assasinos</li>
		<li onclick="necromancers();">Necromancers</li>
		<li onclick="paladinos();" >Paladinos</li>
	</ul>

	<div class="char" id="assassinos" >
		<h1>Assassinos</h1>

		<p>
			Apesar de não assumirem muito compromisso com a palavra seriedade, são muito habilidosos em combate com um grande espirito de companheirismo, abandonar está fora de questão. Também possuem uma forte atração por arcos e flechas. 
			<br><br>
			Apesar de serem fiéis com os seus não inspiram muita confiança com aqueles  que são de foras, até porque a essência de um assassino é roubar uma vida, logicamente que são ladrões natos.
			<br><br>
			Estão acostumados a viver em diversas cidades em locais de difícil  acesso tendo como sede a cidade de Heredel localizada na floresta conhecida como "Silent Florest".
			<br><br>
			Riquezas e diversão são seus maiores objetivos.
		</p>
	</div>

	<div class="char" id="magos">
	
		<h1>Magos</h1>

		<p>
			Os magos são seres considerados de uma classe superior, retiram sua energia do universo e lutam de maneira equivocada aproveitando suas diversas magias, invocações e feitiços distintos. 
			<br><br>
			Também são pessoas sérias, que de tanto adquirirem conhecimentos acabam esquecendo de muitos sentimentos, como tristeza e alegria, e que em algumas vezes acabam sendo levados a loucura.
			<br><br>
			Eles vivem em castelos e montanhas espalhados pelo mundo a fora, com exceção das classes Alfa e Omega que vivem as extremidades opostas sendo elas céu e submundo respectivamente.
			<br><br>
			Seu principal objetivo é punir os Anjos pelos seus pecados perante a humanidade devido a traição de um dos magos, para serem justos, darão suas vidas para isso. 
		</p>

	</div>

	<div class="char" id="necromancers">
		<h1>Necromancers</h1>
	</div>

	<div class="char" id="guerreiros">
		<h1>Guerreiros</h1>
	</div>

	<div class="char" id="paladinos">
		<h1>Paladinos</h1>
	</div>



	
</div>
