/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Poiret+One);
 @import url(http://fonts.googleapis.com/css?family=Titillium+Web);

 body{
 	background-image: image-url("day.jpg");
 	background-size: 100%;
 	background-repeat: no-repeat;
 	height: 2360px;
 	padding: 0px;
 	margin: 0px;
 	font-family: 'dark crystal';
 	text-align: center;
 }

 #day{
 	background-image: image-url("day.jpg");
 	background-size: 100% 100%;
 	background-repeat: no-repeat;
 }

 #day li{
 	color: black;
 	text-shadow: none;
 }

 #day p{
 	text-shadow: 0px 0px 5px rgba(255,255,255,0.7);
 }


 #night{
 	background-image: image-url("night.jpg");
 	background-size: 100% 100%;
 	background-repeat: no-repeat;	
 }

 #night .classes{
 	color: white;
 	text-shadow: 0px 0px 5px black;
 }


 .home{
 	position: relative;
 	width: 100%;
 	height: 100vh;
 	background-image: image-url("bg-2.png");
 	background-size: 100% 100%;
 	background-repeat: no-repeat;
 	text-align: center;
 }

 .line{
 	position: absolute;
 	width: 100%;
 	height: 70px;
 	top: 95%;
 	z-index: 20;
 	background-image: image-url("line.png");
 	background-size: 100% 100%;
 }

 .line #logo{
 	position: relative;
 	width: 470px;
 	top: -290%;
 }

 @font-face {
	font-family: "dark crystal";
	src: url("dc_o.ttf") format("truetype"); /* para IE */
}

 .title{
 	position: relative;
 	font-family: 'dark crystal';
 	margin: 0px;
 	top: 10%;
 	font-size: 95px;
 }

 .home small{
 	position: relative;
 	font-size: 30px;
 	top: 10vh;
 }

p{
	position: relative;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

nav{
	left: 75%;
	z-index: 2;
	position: fixed;
}

a{
	font-family: 'Titillium Web', sans-serif;
	text-decoration: none;
	color: white;
	margin: 0px;
	text-shadow: 0px 0px 2px black;
}

li{
	list-style: none;
	display: inline;
	text-decoration: underline;
	position: relative;
	margin: 0px;
	margin-right: 20px;
	text-shadow: 0px 0px 10px black;
}


#adventure{
	position: relative;
	padding: 50px;
	padding-top: 100px;
	width: 50%;
	margin: 0 auto;
}

.classes{
	position: relative;
	width: 95%;
	height: 100vh;
	padding: 20px;
	top: 150px;
}

.classes h1{
	text-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

.classes li{
	font-size: 35px;
	cursor: pointer;
}

#day .classes li:hover{
	color: white !important;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

#night .classes li:hover{
	color: black !important;
	text-shadow: 0px 0px 5px rgba(255,255,255,0.7);
}

.char{
	position: relative;
	width: 100%;
	margin: 10px;
	float: left;
}

#magos{
	display: none;
}

#paladinos{
	display: none;
}

#assassinos{
	display: none;
}

#necromancers{
	display: none;
}
